matplotlib==3.5.1
tqdm==4.62.3
numpy==1.21.5
scipy==1.7.3
einops==0.3.2
fire==0.4.0
haiku==0.01
jax==0.2.26
librosa==0.8.1
optax==0.1.0
soundfile==0.10.3.post1
tabulate==0.8.9
textgrid==1.5
torch==1.10.1
